<div class="home">
  <section class="home-banner">
    <div class="container">
      <img src="http://upload.wikimedia.org/wikipedia/fr/4/4e/Spotify_2013_(logo).png" class="img-logo" />
      <h1>Fight for your right to party.</h1>
      <p>Enter owner_id and playlist_id to FIGHT!</p>
      <p class="playlist-link">https://play.spotify.com/user/<strong>owner_id</strong>/playlist/<strong>playlist_id</strong></p>
    </div>
  </section>
  <section class="home-result">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="result">
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label>Owner ID:</label>
                  <input type="text" class="form-control" placeholder="Enter Owner ID" ng-model="playlist1.owner_id"/>
                </div>
                <div class="col-md-6">
                  <label>Playlist ID:</label>
                  <input type="text" class="form-control" placeholder="Enter Playlist ID" ng-model="playlist1.playlist_id"/>
                </div>
              </div>
            </div>
            <div ng-show="playlist1.tracks">
              <div class="score">{{playlist1.popularity_total}} <i ng-show="playlist1.winner" class="fa fa-trophy"></i></div>
              <p class="playlist-name">Total popularity score for the top {{playlist1.tracks.length}} tracks in playlist:
                <br>
                <strong>{{playlist1.name}}</strong>
              </p>
              <ul class="list-unstyled">
                <li class="head">
                  <div class="row">
                    <div class="col-md-9">
                      Track Name
                    </div>
                    <div class="col-md-3">
                      Popularity
                    </div>
                  </div>
                </li>
                <li ng-repeat="track in playlist1.tracks">
                  <div class="row">
                    <div class="col-md-9">
                      {{track.name}}
                    </div>
                    <div class="col-md-3">
                      {{track.popularity}}
                    </div>
                  </div>
                </li>
                <li class="total">
                  <div class="row">
                    <div class="col-md-9">
                      TOTAL
                    </div>
                    <div class="col-md-3">
                      {{playlist1.popularity_total}}
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div ng-show="!playlist1.tracks">
              <img src="http://www.ajmadison.com/joeLib/brand/_pgData/loading.gif" class="img-loader"/>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="result">
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label>Owner ID:</label>
                  <input type="text" class="form-control" placeholder="Enter Owner ID" ng-model="playlist2.owner_id"/>
                </div>
                <div class="col-md-6">
                  <label>Playlist ID:</label>
                  <input type="text" class="form-control" placeholder="Enter Playlist ID" ng-model="playlist2.playlist_id"/>
                </div>
              </div>
            </div>
            <div ng-show="playlist2.tracks">
              <div class="score">{{playlist2.popularity_total}} <i ng-show="playlist2.winner" class="fa fa-trophy"></i></div>
              <p class="playlist-name">Total popularity score for the top {{playlist2.tracks.length}} tracks in playlist:
                <br>
                <strong>{{playlist2.name}}</strong>
              </p>
              <ul class="list-unstyled">
                <li class="head">
                  <div class="row">
                    <div class="col-md-9">
                      Track Name
                    </div>
                    <div class="col-md-3">
                      Popularity
                    </div>
                  </div>
                </li>
                <li ng-repeat="track in playlist2.tracks">
                  <div class="row">
                    <div class="col-md-9">
                      {{track.name}}
                    </div>
                    <div class="col-md-3">
                      {{track.popularity}}
                    </div>
                  </div>
                </li>
                <li class="total">
                  <div class="row">
                    <div class="col-md-9">
                      TOTAL
                    </div>
                    <div class="col-md-3">
                      {{playlist2.popularity_total}}
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div ng-show="!playlist2.tracks">
              <img src="http://www.ajmadison.com/joeLib/brand/_pgData/loading.gif" class="img-loader"/>
            </div>
          </div>
        </div>
      </div>
      <p class="footer">
        Created by your loving neighbours @ <a target="new" href="http://www.hackerlabs.com.au">HackerLabs</a>
        <br><a class="btn-tickets" target="new" href="mailto:team@beaconmaker.com">GIVE US FREE TICKETS</a>
      </p>
    </div>
  </section>
</div>